body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    
}

h1 {
               
    font-size: 200%;
        
}

h2 {
               
    font-size: 200%;

}

.linkhometopo {

    position: absolute;

    top: 20px;

    right: 30px;

}